 /* NAVBAR */
 .navbar-nav .nav-link {
    padding-right: 20px; /* Espaçamento entre os links */
}
.navbar {
    background-color: #481164;
}

/* INDEX */

.jumbotron .container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
}

footer p {
    margin-bottom: .25rem;
}

/* LOGO */
#logo1 {
  width: 65px;
  height: 65px;
}
.container2 {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 50vh; /* Ajuste conforme necessário */
}

#logo2 {
  width: 496px;
}
.body {
  background-color: #481164;
}

.dropdown-menu {
  background-color: #481164;
}

#backblur {
  background-color: #481164;
}

